<div>
  <div>
    <span>id: </span>
    <span>{{ card?.id }}</span>
  </div>
  <div>
    <span>ownerName: </span>
    <span>{{ card?.ownerName}}</span>
  </div>
  <div>
    <span>Card Number: </span>
    <span>{{ card?.cardNumber }}</span>
  </div>
  <div>
    <span>Card Type: </span>
    <span>{{ card?.cardType.toString() }}</span>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="editCard()"
      *appRole="[Role.Admin]"
    >Edit</button>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="deleteCard()"
      *appRole="[Role.Admin]"
    >Delete</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let account of card?.account">
        {{ account.accountNumber }}
      </li>
    </ul>
  </div>
</div>
