<mat-toolbar color="primary">
    <button
        mat-button
        routerLink="/"
    >
       <mat-icon>home</mat-icon>
        DABANK
    </button>
     <ng-container
         *ngIf="authService.isLoggedIn"
     >
        <!-- <button -->
            <!-- mat-button -->
            <!-- routerLink="/issues" -->
        <!-- > -->
            <!-- My issues -->
        <!-- </button> -->
        <!-- <button -->
            <!-- mat-button -->
            <!-- routerLink="/issues/new" -->
            <!-- *appRole="[Role.User]" -->
        <!-- > -->
            <!-- New issues -->
        <!-- </button> -->
        <button mat-button (click)="authService.logout()">Logout</button>
     </ng-container>
    <ng-container
        *ngIf="!authService.isLoggedIn"
    >
        <button mat-button routerLink="/login">Login</button>
    </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
