<mat-toolbar color="primary">
    <button
        mat-button
        routerLink="/"
    >
       <mat-icon>home</mat-icon>
        DABANK - {{authService.role.toString().substr(5,10)}}
    </button>
     <ng-container
         *ngIf="authService.isLoggedIn"
     >
         <button
             mat-button
             routerLink="/accounts"
             *appRole="[Role.Admin]"
        >
            List accounts
         </button>
         <button
             mat-button
             routerLink="bank/account/create"
             *appRole="[Role.Admin]"
         >
             Create bank account
         </button>

        <button id="LogoutButton" mat-button (click)="authService.logout()">Logout</button>
     </ng-container>

    <ng-container
        *ngIf="!authService.isLoggedIn"
    >
        <button id="LoginButton" mat-button routerLink="/login">Login</button>
    </ng-container>

  <ng-container
    *ngIf="authService.isLoggedIn"
  >
    <button
      mat-button
      routerLink="/cards"
      *appRole="[Role.Admin]"
    >
      List Cards
    </button>
    <button
      mat-button
      routerLink="bank/cards/create"
      *appRole="[Role.Admin]"
    >
      Create bank card
    </button>
    <button
      mat-button
      routerLink="bank/cards/connect"
      *appRole="[Role.Admin]"
    >
      Connections
    </button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
